<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect to port 8080" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Redirect" url="http://mywebstuff.co.uk:8080/{R:1}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>